<!DOCTYPE html>
<html>
    <head>
        <title>Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="w3-panel w3-black w3-border w3-bottombar">
            <div class="w3-header w3-center">
                <h1>Institutional Library</h1>
            </div>
            <div class="w3-center">
                <div class="w3-left" style="margin-left: 100px;">
                    <a href="../../memberLogin" class="w3-btn w3-hover-grey"><h4>Sign In</h4></a>
                    <a href="../../Sign_up" class="w3-btn w3-hover-grey"><h4>Sign Up</h4></a>
                    <a href="adminLogin.html" class="w3-btn w3-hover-grey"><h4>Admin Login</h4></a>
                    <a href="news_events.html" class="w3-btn w3-hover-grey"><h4>News and Events</h4></a>
                    <a href="links.html" class="w3-btn w3-hover-grey"><h4>Useful Links</h4></a>
                </div>
                <div class="w3-dropdown-hover w3-right:0">
                    <button class="w3-button"><h4>:::Menu</h4></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                      <a href="index.html" class="w3-bar-item w3-button">Home</a>
                      <a href="ac_books.html" class="w3-bar-item w3-button">Academic Books</a>
                      <a href="other_books.html" class="w3-bar-item w3-button">Other Books</a>
                      <a href="new_arrivals.html" class="w3-bar-item w3-button">New Books</a>
                      <a href="members.html" class="w3-bar-item w3-button">Members</a>
                      <a href="Reviews.html" class="w3-bar-item w3-button">Reviews</a>
                      <a href="Authors.html" class="w3-bar-item w3-button">Authors</a>
                      <a href="Publishers.html" class="w3-bar-item w3-button">Publishers</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-center w3-card-4" style="width: 200px; margin-left: 485px;">
            <i class="w3-xxlarge fa fa-user"></i>
            <h4 id="adminId" name="adminId"><%= adminId %></h4>
            <h4 id="adminName" name="adminName"><%= adminName %></h4>
        </div>

        <div class="w3-center w3-panel">
            <button class="w3-btn w3-blue" onclick='$("#applicantList").css("display","block");getInfo()'>Show Applicants List</button>
            <div id="applicantList" class="w3-center" style="display: none;">        
                <h5 style="color: blue;">Click on any Column heading to sort it</h5>
                <div class="w3-panel w3-center">
                    <button class="w3-btn w3-red" style="float:right;" onclick='$("#applicantList").css("display","none")'>X</button>
                    <table id="applicantTable" class="w3-table-all w3-centered sortable">
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Dept</th><th>ID</th>
                            <th>Date of birth</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Blood Group</th>
                            <th>Residence</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#mem").css("display","block")'>Add Member</button>
            <div id="mem" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#mem").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Member Info</h2>
                            <p class="w3-text-red" name="newMemberErrorMessage"><%= newMemberErrorMessage %> </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Member ID</b></label>
                                <input class="w3-input w3-border" name="newMemberMemberId" type="text" placeholder="ID" value="<%= newMemberMemberId  %>" required>
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Member Name</b></label>
                                 <input class="w3-input w3-border" name="newMemberName" type="text" placeholder="name" value="<%= newMemberName %>" required>
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Email</b></label>
                                 <input class="w3-input w3-border" name="newMemberEmail" type="text" placeholder="" value="<%= newMemberEmail %>" required>
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Phone Number</b></label>
                                 <input class="w3-input w3-border" name="newMemberPhone" type="number" placeholder="" value="<%= newMemberPhone %>" required>
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Blood Group</b></label>
                                 <input class="w3-input w3-border" name="newMemberBloodGroup" type="text" placeholder="" value="<%= newMemberBloodGroup %>">
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Date of birth</b></label>
                                 <input class="w3-input w3-border" name="newMemberDob" type="text" placeholder="" value="<%= newMemberDob %>">
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                 <label class="w3-text-blue"><b>Department</b></label>
                                 <input class="w3-input w3-border" name="newMemberDepartment" type="text" placeholder="" value="<%= newMemberDepartment %>">
                             </p>
                             <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Type</b></label>
                                <input class="w3-input w3-border" name="newMemberType" type="text" placeholder="TEACHER/STUDENT/OTHER" value="<%= newMemberType  %>" required>
                            </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Issue limit</b></label>
                                <input class="w3-input w3-border" name="newMemberIssueLimit" type="text" placeholder="" value="<%= newMemberIssueLimit %>">
                            </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Address</b></label>
                                <input class="w3-input w3-border" name="newMemberAddress" type="text" placeholder="" value="<%= newMemberAddress %>">
                            </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>ID</b></label>
                                <input class="w3-input w3-border" name="newMemberId" type="text" placeholder="ID" value="<%= newMemberId %>">
                            </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Designation</b></label>
                                <input class="w3-input w3-border" name="newMemberDesignation" type="text" placeholder="" value="<%= newMemberDesignation %>">
                            </p>
                            <p style="width: 20%; margin-left: 10px; float: left;">      
                                <label class="w3-text-blue"><b>Residence</b></label>
                                <input class="w3-input w3-border" name="newMemberResidence" type="text" placeholder="" value="<%= newMemberResidence %>">
                            </p>
                        
                        <p><input type="submit" value="Add" class="w3-btn w3-blue"></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <!-- <p class="w3-text-red" name="deleteMemberErrorMessage"> </p> -->
            <button class="w3-btn w3-blue" onclick='$("#delmem").css("display","block")'>Delete a Member</button>
            <div id="delmem" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#delmem").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Member Info</h2>
                        <p>      
                           <label class="w3-text-blue"><b>Member ID</b></label>
                           <input class="w3-input w3-border" name="deleteMemberId" type="text" placeholder="ID" required>
                        </p>
                        <p><input type="submit" value="Delete" class="w3-btn w3-blue"></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#book").css("display","block")'>Add a Book</button>
            <div id="book" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#book").css("display","none")'>X</button>
                </div>
                <div>

                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Book info</h2>
                        <p class="w3-text-red" name="newBookErrorMessage"><%= newBookErrorMessage %></p>
                        <p style="width: 20%; float: left; margin-left: 2%;">      
                           <label class="w3-text-blue"><b>Book ID</b></label>
                           <input class="w3-input w3-border" name="newBookId" type="text" placeholder="ID" value="<%= newBookId %>" required>
                        </p>
                        <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Book Name</b></label>
                            <input class="w3-input w3-border" name="newBookName" type="text" placeholder="name" value="<%= newBookName %>" required>
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Author Id</b></label>
                            <input class="w3-input w3-border" name="newBookAuthor" type="text" placeholder="" value="<%= newBookAuthor %>" required> 
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Publisher Name</b></label>
                            <input class="w3-input w3-border" name="newBookPublisher" type="text" placeholder="" value="<%= newBookPublisher %>" required>
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Cover Image</b></label>
                            <input class="w3-input w3-border" name="newBookCoverImg" type="text" placeholder="src" value="<%= newBookCoverImg %>">
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Status</b></label>
                            <input class="w3-input w3-border" name="newBookStatus" type="text" placeholder="" value="<%= newBookStatus %>">
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                             <label class="w3-text-blue"><b>Date of Arrival</b></label>
                             <input class="w3-input w3-border" name="newBookArrivalDate" type="text" placeholder="" value="<%= newBookArrivalDate %>">
                          </p>
                          <p style="width: 20%; float: left; margin-left: 2%;">      
                             <label class="w3-text-blue"><b>Year Released</b></label>
                             <input class="w3-input w3-border" name="newBookYearReleased" type="text" placeholder="" value="<%= newBookYearReleased %>">
                          </p>
                          <p style="width: 20%; float: left; margin-left: 2%;">      
                             <label class="w3-text-blue"><b>Edition</b></label>
                             <input class="w3-input w3-border" name="newBookEdition" type="text" placeholder="" value="<%= newBookEdition %>">
                          </p>
                          <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Language</b></label>
                            <input class="w3-input w3-border" name="newBookLanguage" type="text" placeholder="" value="<%= newBookLanguage %>">
                         </p>
                         <p style="width: 20%; float: left; margin-left: 2%;">      
                            <label class="w3-text-blue"><b>Number of pages</b></label>
                            <input class="w3-input w3-border" name="newBookNumberOfPage" type="number" placeholder="" value="<%= newBookNumberOfPage %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Type</b></label>
                                <input class="w3-input w3-border" name="newBookType" type="text" placeholder="Academic/Others" value="<%= newBookType %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Department</b></label>
                                <input class="w3-input w3-border" name="newBookDepartment" type="text" placeholder="" value="<%= newBookDepartment %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Subject</b></label>
                                <input class="w3-input w3-border" name="newBookSubject" type="text" placeholder="" value="<%= newBookSubject %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Topic</b></label>
                                <input class="w3-input w3-border" name="newBookTopic" type="text" placeholder="" value="<%= newBookTopic %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Category</b></label>
                                <input class="w3-input w3-border" name="newBookCategory" type="text" placeholder="" value="<%= newBookCategory %>">
                         </p>
                         <p style="width: 20%; float: left;margin-left: 2%;">      
                                <label class="w3-text-blue"><b>Genre</b></label>
                                <input class="w3-input w3-border" name="newBookGenre" type="text" placeholder="" value="<%= newBookGenre %>">
                         </p>                         
                         <input type="submit" value="Add" class="w3-btn w3-blue">                 
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#delbook").css("display","block")'>Delete a Book</button>
            <div id="delbook" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#delbook").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="post" action="/admin_page">
                        <h2 class="w3-text-blue">Book info</h2>
                        <p>      
                           <label class="w3-text-blue"><b>Book ID</b></label>
                           <input class="w3-input w3-border" name="deleteBookId" type="text" placeholder="ID" required>
                        </p>
                        <input type="submit" value="Delete" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#issue").css("display","block")'>Add to Issue List</button>
            <div id="issue" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#issue").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Issue info</h2>
                        <p class="w3-text-red"><%= issueErrorMessage %></p>
                        <p>      
                           <label class="w3-text-blue"><b>Book ID</b></label>
                           <input class="w3-input w3-border" name="issueBookId" type="text" placeholder="" value="<%= issueBookId %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Member ID</b></label>
                            <input class="w3-input w3-border" name="issueMemberId" type="text" placeholder="" value="<%= issueMemberId %>" required>
                         </p>
                         <p>      
                            <label class="w3-text-blue"><b>Issue Date</b></label>
                            <input class="w3-input w3-border" name="issueDate" type="text" placeholder="" value="<%= issueDate %>" required>
                         </p>
                         <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#delissue").css("display","block")'>Delete from Issue List</button>
            <div id="delissue" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#delissue").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Issue info</h2>
                        <p>      
                            <label class="w3-text-blue"><b>Issue ID</b></label>
                            <input class="w3-input w3-border" name="deleteIssueId" type="text" placeholder="" required>
                         </p>
                         <input type="submit" value="Delete" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>
        
        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#links").css("display","block")'>Add Link</button>
            <div id="links" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#links").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="post" action="/admin_page">
                        <h2 class="w3-text-blue">Link info</h2>
                        <p>      
                            <label class="w3-text-blue"><b>Link Name</b></label>
                            <input class="w3-input w3-border" name="linkName" type="text" placeholder="">
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Link Text</b></label>
                            <input class="w3-input w3-border" name="linkText" type="text" placeholder="" required>
                        </p>
                        <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#news").css("display","block")'>Add News</button>
            <div id="news" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#news").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="post" action="/admin_page">
                        <h2 class="w3-text-blue">News info</h2>
                        <p>      
                            <label class="w3-text-blue"><b>Date</b></label>
                            <input class="w3-input w3-border" name="newsDate" type="text" placeholder="" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Image</b></label>
                            <input class="w3-input w3-border" name="newsImage" type="text" placeholder="src" >
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Description</b></label>
                            <input class="w3-input w3-border" name="newsDescription" type="text" placeholder="" required>
                        </p>
                        <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#admin").css("display","block")'>Add New Admin</button>
            <div id="admin" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#admin").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="post" action="/admin_page">
                        <h2 class="w3-text-blue">Admin info</h2>
                        <p class="w3-text-blue"><%= newAdminErrorMessage %></p>
                        <p>      
                            <label class="w3-text-blue"><b>Name</b></label>
                            <input class="w3-input w3-border" name="newAdminName" type="text" placeholder="" value="<%= newAdminName %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>ID</b></label>
                            <input class="w3-input w3-border" name="newAdminId" type="text" placeholder="" value="<%= newAdminId %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Password</b></label>
                            <input class="w3-input w3-border" name="newAdminPassword" type="password" placeholder="" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Email</b></label>
                            <input class="w3-input w3-border" name="newAdminEmail" type="text" placeholder="" value="<%= newAdminEmail  %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Phone Number</b></label>
                            <input class="w3-input w3-border" name="newAdminPhone" type="text" placeholder="" value="<%= newAdminPhone %>" required>
                        </p>
                        <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>
        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#author").css("display","block")'>Add New Author</button>
            <div id="author" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#author").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="POST" action="/admin_page">
                        <h2 class="w3-text-blue">Author info</h2>
                        <p class="w3-text-blue"><%= newAuthorErrorMessage %></p>
                        <p>      
                            <label class="w3-text-blue"><b>Name</b></label>
                            <input class="w3-input w3-border" name="newAuthorName" type="text" placeholder="" value="<%= newAuthorName %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>ID</b></label>
                            <input class="w3-input w3-border" name="newAuthorId" type="text" placeholder="" value="<%= newAuthorId %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Nationality</b></label>
                            <input class="w3-input w3-border" name="newAuthorNationality" type="text" placeholder="" value="<%= newAuthorNationality  %>">
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Life Span</b></label>
                            <input class="w3-input w3-border" name="newAuthorLife" type="text" placeholder="" value="<%= newAuthorLife %>">
                        </p>
                        <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>

        <div class="w3-panel w3-center">
            <button class="w3-btn w3-blue" onclick='$("#publisher").css("display","block")'>Add New Publisher</button>
            <div id="publisher" class="w3-display-container" style="display: none;">
                <div class="w3-display-topright">
                    <button class="w3-btn w3-red" onclick='$("#publisher").css("display","none")'>X</button>
                </div>
                <div>
                    <form class="w3-container w3-card-4" method="post" action="/admin_page">
                        <h2 class="w3-text-blue">Publisher info</h2>
                        <p class="w3-text-blue"><%= newPublisherErrorMessage %></p>
                        <p>      
                            <label class="w3-text-blue"><b>Name</b></label>
                            <input class="w3-input w3-border" name="newPublisherName" type="text" placeholder="" value="<%= newPublisherName %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Address</b></label>
                            <input class="w3-input w3-border" name="newPublisherAddress" type="text" placeholder="" value="<%= newPublisherAddress %>" required>
                        </p>
                        <p>      
                            <label class="w3-text-blue"><b>Phone Number</b></label>
                            <input class="w3-input w3-border" name="newPublisherPhone" type="text" placeholder="" value="<%= newPublisherPhone %>" required>
                        </p>
                        <input type="submit" value="Add" class="w3-btn w3-blue">
                    </form>
                </div>
            </div>
        </div>
        <script>
            const getInfo = async ()=>{
                let table = document.getElementById("applicantTable");
                while(table.rows.length>1){
                    table.deleteRow(1);
                }
                const url =  'http://localhost:8080/admin_page/applicantTable';
                const options = {method:'GET'}
                const response = await fetch(url,options);
                const myJs = await response.json();
                for(let i=0;i<myJs.length;i++){
                    let row = table.insertRow();
                    let cell0 = row.insertCell(0);
                    let cell1 = row.insertCell(1);
                    let cell2 = row.insertCell(2);
                    let cell3 = row.insertCell(3);
                    let cell4 = row.insertCell(4);
                    let cell5 = row.insertCell(5);
                    let cell6 = row.insertCell(6);
                    let cell7 = row.insertCell(7);
                    let cell8 = row.insertCell(8);
                    let cell9 = row.insertCell(9);
                    cell0.innerHTML = myJs[i].NAME;
                    cell1.innerHTML = myJs[i].DESIGNATION;
                    cell2.innerHTML = myJs[i].DEPT;
                    cell3.innerHTML = myJs[i].ID;
                    cell4.innerHTML = myJs[i].DATE_OF_BIRTH;
                    cell5.innerHTML = myJs[i].ADDRESS;
                    cell6.innerHTML = myJs[i].EMAIL;
                    cell7.innerHTML = myJs[i].PHONE_NUMBER;
                    cell8.innerHTML = myJs[i].BLOOD_GROUP;
                    cell9.innerHTML = myJs[i].RESIDENCE;
                }
            }
        </script>
    </body>
</html> 
​
